<div class="content-section" id="fullscreen" [ngClass]="{'ml-0': !showSideBar}">

  <div class="row form-group">
    <div class="col-lg-12">
      <div class="card h-100">
        <div class="card-header">
          <h5>Client Administration</h5>
          <a href="javascript:void(0);" class="btn-add" (click)="Open()" data-toggle="modal" data-target="#addClientAdministration">Add New</a>          </div>
        <div class="card-body" *ngIf="showCount">
          <div class="row">
            <div class="col-12">
              <div class="display-inline-block margin-r-10 float-left mt-2" ><b> {{ dt.totalRecords }}</b> Results Found</div>
              <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
              <div class="form-inline float-right form-group">
                <div class="dropdown export-btn"> <a href="javascript:void(0);" class="btn btn-export mr-3" data-toggle="dropdown"><i class="fas fa-file-export"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" (click)="exportPdf()">PDF</a> <a class="dropdown-item" (click)="dt.exportCSV()">CSV</a>
                    <!--<a class="dropdown-item" (click)="exportExcel()">Excel</a>-->
                  </div>
                </div>
                <input type="text" class="form-control" id="courseNumber" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">

              </div>
            </div>
            <div class="col-12">
              <p-table #dt class="p-table-grid" [columns]="cols" [value]="clientAdministration" [paginator]="true" [rowsPerPageOptions]="[5,10,25,50,100,500]"
                [rows]="10" sortMode="multiple" rowHover="true" sortMode="multiple" [responsive]="true" exportFilename="ClientAdminiStration_Details">

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="" *ngFor="let col of columns" [pSortableColumn]="col.field">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th class="text-center w-10">Status</th>
                    <th class="text-center w-10">Action</th>

                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td class="" *ngFor="let col of columns">
                      <div>
                        <span tooltipEvent="hover" class="white-space" pTooltip="{{(rowData[col.field].length >= 20)?rowData[col.field]:''}}" tooltipPosition="top">{{rowData[col.field]}}</span>

                      </div>
                    </td>
                    <td class="text-center">
                      <i class="fas fa-square text-success" *ngIf="rowData.active == true"></i>
                      <i class="fas fa-square text-danger" *ngIf="rowData.active == false"></i>
                    </td>
                    <td class="text-center">
                      <a href="javascript:void(0);" class="text-primary mr-3" (click)="editClientAdministration(rowData)" title="Edit" data-toggle="modal"
                        data-target="#addClientAdministration">
                        <i class="fas fa-pen-square"></i>
                      </a>

                      <a href="javascript:void(0);" class="text-danger" title="Delete" (click)="deleteClientDetails(rowData)">
                        <i class="fas fa-trash-alt"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                    <td class="text-center" [attr.colspan]="columns.length + 2">
                      <b>No records found</b>
                    </td>
                  </tr>
                </ng-template>

              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="addClientAdministration" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Client Administration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist"> <a class="nav-item nav-link active" id="nav-create-emp-tab" data-toggle="tab" href="#nav-create-emp" role="tab"
                  aria-controls="nav-create-emp" aria-selected="true">Upload Client Registration List</a> <a class="nav-item nav-link"
                  id="nav-data-submission-tab" data-toggle="tab" href="#nav-data-submission" role="tab" aria-controls="nav-data-submission"
                  aria-selected="false">Client Registration</a> </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active pt-4" id="nav-create-emp" role="tabpanel" aria-labelledby="nav-create-emp-tab">
                <!-- Tab Content1 Starts-->

                <div class="form-row">
                  <div class="col-md-12 form-group"> <a href="doc/NCCategory_Template.xlsx" class="btn btn-primary btn-sm">Download Template</a> </div>
                  <div class="col-md-6 form-group">
                    <label for="collegeName">Upload Client Registration File <span class="text-danger">*</span></label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                </div>
                <!-- Tab Content1 Ends-->
              </div>
              <div class="tab-pane fade show" id="nav-data-submission" role="tabpanel" aria-labelledby="nav-data-submission-tab">
                <!-- Tab Content1 Starts-->
                <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
                <form [formGroup]="clientAdministrationForm" (ngSubmit)="submitForm(clientAdministrationForm)" autocomplete="off">
                  <div class="row">

                    <div class="col-md-4 form-group">
                      <label for="OrganizationName">Organization Name</label>
                      <input type="text" formControlName="OrganizationName" name="OrganizationName" class="form-control" id="OrganizationName"
                        maxlength="50" (keyup)="error=''" autocomplete="off">
                      <div *ngIf="isSubmitted && clientAdministrationForm.controls['OrganizationName'].errors?.required" class="error">
                        Please enter a organization name
                      </div>
                      <div *ngIf="isSubmitted && !clientAdministrationForm.controls['OrganizationName'].errors?.required && clientAdministrationForm.controls['OrganizationName'].errors?.whitespace"
                        class="error">
                        please remove whitespace or special characters
                      </div>
                      <div *ngIf="isSubmitted && !clientAdministrationForm.controls['OrganizationName'].errors?.required && !clientAdministrationForm.controls['OrganizationName'].errors?.whitespace && clientAdministrationForm.controls['OrganizationName'].errors?.alphabetical"
                        class="error">
                        Special characters or numbers not allowed
                      </div>
                      <div *ngIf="isSubmitted && clientAdministrationForm.controls['OrganizationName'].errors?.maxlength ? true: false" class="error">
                        Organization name must be lessthan 50 characters
                      </div>
                    </div>


                    <div class="col-md-4 form-group">
                      <label for="WebUrl">Website</label>
                      <input type="text" formControlName="WebUrl" name="WebUrl" class="form-control" id="WebUrl" (keyup)="error=''" autocomplete="off">
                      <div *ngIf="isSubmitted && clientAdministrationForm.controls['WebUrl'].errors?.required" class="error">
                        Please enter a web url
                      </div>
                      <div *ngIf="isSubmitted && !clientAdministrationForm.controls['WebUrl'].errors?.required && clientAdministrationForm.controls['WebUrl'].errors?.url"
                        class="error">
                        please enter a valid web url
                      </div>
                    </div>


                    <div class="col-md-4 form-group">
                      <label for="Address">Address</label>
                      <textarea type="text" formControlName="Address" name="Address" class="form-control" id="Address" (keyup)="error=''" autocomplete="off"></textarea>
                      <div *ngIf="isSubmitted && clientAdministrationForm.controls['Address'].errors?.required" class="error">
                        Please enter a address
                      </div>
                      <div *ngIf="isSubmitted && !clientAdministrationForm.controls['Address'].errors?.required && isNumber(clientAdministrationForm.controls['Address'].value)"
                        class="error">
                        Please enter valid address, not numbers only
                      </div>
                      <div *ngIf="isSubmitted && !clientAdministrationForm.controls['Address'].errors?.required && !isNumber(clientAdministrationForm.controls['Address'].value) && clientAdministrationForm.controls['Address'].errors?.address"
                        class="error">
                        please enter a valid address
                      </div>
                    </div>


                    <div class="col-md-4 form-group">
                      <label for="FirstName">First Name</label>
                      <input type="text" formControlName="FirstName" name="FirstName" class="form-control" id="FirstName" maxlength="50" (keyup)="error=''"
                        autocomplete="off">
                      <div *ngIf="isSubmitted && clientAdministrationForm.controls['FirstName'].errors?.required" class="error">
                        Please enter a first name
                      </div>
                      <div *ngIf="isSubmitted && !clientAdministrationForm.controls['FirstName'].errors?.required && clientAdministrationForm.controls['FirstName'].errors?.whitespace"
                        class="error">
                        please remove whitespace or special characters
                      </div>
                      <div *ngIf="isSubmitted && !clientAdministrationForm.controls['FirstName'].errors?.required && !clientAdministrationForm.controls['FirstName'].errors?.whitespace && clientAdministrationForm.controls['FirstName'].errors?.alphabetical"
                        class="error">
                        Special characters or numbers not allowed
                      </div>
                      <div *ngIf="isSubmitted && clientAdministrationForm.controls['FirstName'].errors?.maxlength ? true: false" class="error">
                        First name must be lessthan 50 characters
                      </div>
                    </div>

                    <div class="col-md-4 form-group">
                      <label for="LastName">Last Name</label>
                      <input type="text" formControlName="LastName" name="LastName" class="form-control" id="LastName" maxlength="50" (keyup)="error=''"
                        autocomplete="off">
                      <div *ngIf="isSubmitted && clientAdministrationForm.controls['LastName'].errors?.required" class="error">
                        Please enter a last name
                      </div>
                      <div *ngIf="isSubmitted && !clientAdministrationForm.controls['LastName'].errors?.required && clientAdministrationForm.controls['LastName'].errors?.whitespace"
                        class="error">
                        please remove whitespace or special characters
                      </div>
                      <div *ngIf="isSubmitted && !clientAdministrationForm.controls['LastName'].errors?.required && !clientAdministrationForm.controls['LastName'].errors?.whitespace && clientAdministrationForm.controls['LastName'].errors?.alphabetical"
                        class="error">
                        Special characters or numbers not allowed
                      </div>
                      <div *ngIf="isSubmitted && clientAdministrationForm.controls['LastName'].errors?.maxlength ? true: false" class="error">
                        First name must be lessthan 50 characters
                      </div>
                    </div>

                    <div class="col-md-4 form-group">
                      <label for="PhoneNumber">Phone Number</label>
                      <input type="text" formControlName="PhoneNumber" (keypress)="numberOnly($event)" name="PhoneNumber" class="form-control"
                        id="PhoneNumber" (keyup)="error=''" autocomplete="off">
                      <div *ngIf="isSubmitted && clientAdministrationForm.controls['PhoneNumber'].errors?.required" class="error">
                        Please enter a phone number
                      </div>
                       <div *ngIf="isSubmitted && !clientAdministrationForm.controls['PhoneNumber'].errors?.required && clientAdministrationForm.controls['PhoneNumber'].errors?.numeric"
                        class="error">
                        Please enter valid phone number
                      </div>
                      <div *ngIf="isSubmitted && !clientAdministrationForm.controls['PhoneNumber'].errors?.required && !clientAdministrationForm.controls['PhoneNumber'].errors?.numeric && clientAdministrationForm.controls['PhoneNumber'].errors?.minlength ? true: false || !clientAdministrationForm.controls['PhoneNumber'].errors?.numeric && clientAdministrationForm.controls['PhoneNumber'].errors?.maxlength ? true: false"
                        class="error">
                        Minimum length should be 8 to 15 characters
                      </div>
                     
                    </div>

                    <div class="col-md-4 form-group">
                      <label for="Email">Email</label>
                      <input type="text" formControlName="Email" name="Email" class="form-control" id="Email" (keyup)="error=''" autocomplete="off">
                      <div *ngIf="isSubmitted && clientAdministrationForm.controls['Email'].errors?.required" class="error">
                        Please enter a email
                      </div>
                      <div *ngIf="isSubmitted  && !clientAdministrationForm.controls['Email'].errors?.required && clientAdministrationForm.controls['Email'].errors?.email ? true: false"
                        class="error">
                        Please enter a valid email
                      </div>

                      <div *ngIf="isSubmitted  && !clientAdministrationForm.controls['Email'].errors?.required  && clientAdministrationForm.controls['Email'].errors?.maxlength ? true: false && !clientAdministrationForm.controls['Email'].errors?.email ? true: false"
                        class="error">
                        Email length should be max 50 characters.
                      </div>
                    </div>

                    <div class="col-md-4 form-group">
                      <label for="Password">Password</label>
                      <input type="password" formControlName="Password" name="Password" class="form-control" id="Password" (keyup)="error=''" autocomplete="off">
                      <div *ngIf="isSubmitted && clientAdministrationForm.controls['Password'].errors?.required" class="error">
                        Please enter a password
                      </div>
                      <!--<div *ngIf="isSubmitted && clientAdministrationForm.controls['Password'].errors?.minlength ? true: false || clientAdministrationForm.controls['Password'].errors?.maxlength ? true: false"
                        class="error">
                        Minimum length should be 8 to 10 characters
                      </div>-->

                      <div *ngIf="isSubmitted && !clientAdministrationForm.controls['Password'].errors?.required && ValidatePassword(clientAdministrationForm.controls['Password'].value) && PasswordErrorMessage != 'true'"
                        class="error">
                        {{ PasswordErrorMessage }}
                      </div>
                    </div>

                    <div class="col-md-4 form-group align-self-end">
                      <label for="epass" class="mr-3">Active</label>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" formControlName="active" value="true" name="active" class="custom-control-input"
                          [(ngModel)]="selectedValue">
                        <label class="custom-control-label" for="customRadioInline1">Yes</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" value="false" formControlName="active" name="active" class="custom-control-input"
                          [(ngModel)]="selectedValue">
                        <label class="custom-control-label" for="customRadioInline2">No</label>
                      </div>
                    </div>
                  </div>
                  <div class=" modal-footer">
                    <button type="button" class="btn btn-danger" [disabled]="disabled" data-dismiss="modal" (click)="Close()">Close</button>
                    <button type="submit" class="btn btn-navy" [disabled]="disabled" *ngIf="!update">Save</button>
                    <button type="submit" class="btn btn-navy" [disabled]="disabled" *ngIf="update">Update</button>
                  </div>
                </form>
                <!-- Tab Content1 Ends-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>