<div class="login">
  <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
  <div class="container">
    <div class="row justify-content-center min-vh-100 align-items-center">
      <div class="col-md-10">
        <div class="login-section align-self-center">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card h-100 login-left border-0 rounded-0">
                <div class="card-body d-flex">
                  <div class="align-self-center px-md-5">
                    <h4>Welcome to</h4>
                    <h2>Unified Data Platform</h2>
                    <p>100% Accuracy on Data Extraction, Data Preparation, Data Enrichment.</p>
                    <a href="javascript:void(0);" class="login-play"><img src="assets/img/play-button.png"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card h-100 border-0 rounded-0">
                <div class="card-body">
                  <div class="card-img d-flex justify-content-between">
                    <a [routerLink]="['/home']" class="home-link"><i class="fa fa-home"></i></a>
                    <img src="assets/img/udp-logo.png" class="login-logo">
                  </div>
                  <div class="my-5">
                    <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)" autocomplete="off">
                      <h5 class="card-title">Login</h5>
                      <div class="mb-4">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="username-icon"><i data-feather="user"></i></span>
                          </div>
                          <input type="text" formControlName="UserName" name="UserName" placeholder="Username"
                            class="form-control" id="UserName" maxlength="50" (keyup)="error=''" (keydown.enter)="submitForm(loginForm.value)" autocomplete="off">
                        </div>
                        <control-messages [control]="getFields['UserName']" [message]="'UserName'"
                          [customMessage]="'Invalid email'"></control-messages>
                      </div>
                      <div class="mb-4">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="password-icon"><i data-feather="lock"></i></span>
                          </div>
                          <input type="password" formControlName="Password" name="Password" placeholder="Password"
                            class="form-control" id="Password" maxlength="50" (keyup)="error=''" (keydown.enter)="submitForm(loginForm.value)" autocomplete="off">
                        </div>
                        <control-messages [control]="getFields['Password']" [message]="'Password'" [customMessage]="''">
                        </control-messages>
                      </div>
                      <div class="form-group text-right">
                        <a href="javascript:void(0);" class="forgot">Forgot password?</a>
                      </div>
                      <div class="mb-4">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1"
                          formControlName="RememberMe">
                        <label class="custom-control-label" for="customCheck1">Remember me</label>
                      </div>
                    </form>
                  </div>
                  <div class="text-center">
                    <p class="m-0"><small>Don't have an account? <a [routerLink]="['/register']">Sign Up</a></small></p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>