<div class="content-section"  id="fullscreen" [ngClass]="{'ml-0': !showSideBar}">
 
  <div class="row form-group">
    <div class="col-lg-12">
      <div class="card h-100">
        <div class="card-header">
          <h5>Service Catalog</h5>
          <a href="javascript:void(0);" class="btn-add" data-toggle="modal" (click)="OpenModule()" data-target="#adduser">Add New</a>
        </div>
        <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
        <div class="card-body" *ngIf="showmenu">
          <div class="row my-3 px-3">
            <mat-tab-group animationDuration="0ms" class="mat-tab-scroll"  (selectedTabChange)="handleChange($event)">
                <mat-tab  *ngFor="let item of serviceCataloDetails; let i = index"    label="{{item.stageName}}"></mat-tab> 
            </mat-tab-group>
         </div>
         <div class="row">
          <div class="col-12">
            <div class="accordion" id="module-main">
              <div class="card"  *ngFor="let items of serviceCataloDetails[indexs].modules; let j = index">
                <div class="card-header">
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-link" type="button"   data-toggle="collapse"
                    [attr.data-target]="'#collapse_' + j" [attr.aria-controls]="'#collapse_' + j"
                    aria-expanded="true" >{{items.moduleName}} </button>
                    
                          <span class="header-btn">
                            <a href="javascript:void(0);" class="btn-edit" (click)="EditModule(items)" title="Edit"
                              data-toggle="modal" data-target="#editmenu"><i class="fas fa-pencil-alt"></i></a>
    
                            <a href="javascript:void(0);" class="btn-delete" title="Delete"><i
                                class="fas fa-trash-alt"></i></a>
                          </span>     
                        </div>
                </div>
                <div id="collapse_{{j}}" class="collapse" data-parent="#module-main">
                  <div class="card-body">
                    <div class="text-right pb-3">
                      <button class="btn btn-add" (click)="AddSubModule(serviceCataloDetails[indexs],items)" type="button" data-toggle="modal" data-target="#adduser"> Add Sub Module </button>
                    </div>
                                           
                    <table class="table m-0 privilege-table">
                      <tbody>
                        <tr class="border-top-0 border-bottom"
                          *ngFor="let data of serviceCataloDetails[indexs].modules[j].submodules; let k = index"
                          [attr.data-index]="k">
                          <!-- <div>{{cols[i].accordian[j].privilage|json}}</div> -->
                          <td class="border-0 ">
                            <div class="dropdown">
                              <button class="btn btn-link p-0 text-decoration-underline" type="button" data-toggle="dropdown">
                                {{data.subModuleName}}
                              </button>
                              <div class="dropdown-menu">                                    
                                <a class="dropdown-item" href="#" (click)="EditSubModule(data)" data-toggle="modal" data-target="#editsubmenu">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                              </div>
                            </div>
                          </td>
                          <td class="border-0 ">
							  <ul class="privilege-list">
                                    <li *ngFor="let datas of serviceCataloDetails[indexs].modules[j].submodules[k].privileges; let l = index"> 
								   <button class="btn btn-link p-0 text-capitalize" type="button" data-toggle="dropdown">
                                    {{datas.privilege_Name}}
                                  </button>                      
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" (click)="AddPrivilege(serviceCataloDetails[indexs],items,data)" data-toggle="modal" data-target="#adduser">Add</a>
                                    <a class="dropdown-item" href="#" (click)="EditPrivilege(datas)" data-toggle="modal" data-target="#editprivilege">Edit</a>
                                    <a class="dropdown-item" href="#">Delete</a>
                                  </div>								  
								  </li>                                    
                                  </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

          
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="adduser" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add / Edit Service Catalog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"> <span
            aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="step-section">
          <ul class="bootstrapWizard form-wizard nav nav-tabs border-0">
            <li class="active tab1"> <a href="javascript:void();" class="active"> <span class="step">
                  <p>1</p>
                </span> <span class="title">Stage</span> </a> </li>
            <li class="tab2"> <a href="javascript:void();"> <span class="step">
                  <p>2</p>
                </span> <span class="title">Module</span> </a> </li>
            <li class="tab3"> <a href="javascript:void();"> <span class="step">
                  <p>3</p>
                </span> <span class="title">Privilege</span> </a> </li>
          </ul>
        </div>
        <form [formGroup]="serviceCataloDetailsForm" (ngSubmit)="InsertForm(serviceCataloDetailsForm.value)"
          autocomplete="off">
          <div class="tab-content border-0 mt-3 p-0">
            <div class="tab-pane active tab1-section">
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="sname">Stage Name</label>
                  <input type="StageName" [(ngModel)]="stageName" formControlName="StageName" name="StageName"
                    class="form-control" id="StageName" maxlength="50" (keyup)="error=''" autocomplete="off">
                  <control-messages [control]="getFields['StageName']" [message]="'StageName'" [customMessage]="''">
                  </control-messages>
                </div>
              </div>
              <div class="modal-footer justify-content-left">
                <!-- <button type="button" class="btn btn-navy">Back</button> -->
                <button type="button" class="btn btn-navy" *ngIf="oldButton" (click)="NextTabNavBars('.tab2')">Next</button>
                <button type="button" class="btn btn-navy" *ngIf="newButton" (click)="NextTabNavBar('.tab2')">Next</button>
              </div>
            </div>

            <div class="tab-pane tab2-section">

              <div class="row">
                <div class="col-md-12 form-group">
                  <label>Stage Name : <span class="text-blue">{{stageName}}</span></label>
                </div>
                <div class="col-md-6 form-group">
                  <label for="s">Module</label>
                  <input type="MenuName" [(ngModel)]="menuName" formControlName="MenuName" name="MenuName"
                    class="form-control" id="MenuName" maxlength="50" (keyup)="error=''" autocomplete="off">
                  <control-messages *ngIf="menuNameshowerror" [control]="getFields['MenuName']" [message]="'MenuName'" [customMessage]="''">
                  </control-messages>
                </div>
                <div class="col-md-6 form-group">
                  <label for="sm">Sub-Module</label>
                  <input type="subModuleName" [(ngModel)]="submenuName" formControlName="subModuleName"
                    name="subModuleName" class="form-control" id="subModuleName" maxlength="50" (keyup)="error=''"
                    autocomplete="off">
                  <control-messages [control]="getFields['subModuleName']" [message]="'subModuleName'"
                    [customMessage]="''">
                  </control-messages>
                </div>
              </div>

              <div formArrayName="moduleinputfield">
                <div class="row"
                  *ngFor="let item of serviceCataloDetailsForm.controls.moduleinputfield['controls']; let i = index;"
                  [formGroupName]="i">
                  <div class="col-md-6 form-group">
                    <label for="s">Module</label>
                    <input type="MenuName" formControlName="ModuleNames" name="MenuName" class="form-control"
                      id="MenuName" maxlength="50" (keyup)="error=''" autocomplete="off">
                    <!-- <span *ngIf="ShowErrormessage">
                      test
                    </span> -->
                  </div>
                  <div class="col-md-5 form-group">
                    <label for="s">Sub-Module</label>
                    <input type="subModuleName" formControlName="SubModuleName" name="subModuleName"
                      class="form-control" id="subModuleName" maxlength="50" (keyup)="error=''" autocomplete="off">
                    <control-messages [control]="getFields['subModuleName']" [message]="'subModuleName'"
                      [customMessage]="''">
                    </control-messages>
                  </div>
                  <div class="form-group">
                    <label for="s">Action</label>
                    <br />
                    <button class="justify-content-between action-margin" type="button"  (click)="deletemoduleFieldValue(i)"><i class="fas fa-trash-alt"></i></button>
                  </div>
                </div>
              </div>

              <div class="col-md-12 add-btn-div" >
                <button type="button" [disabled]="addDisable" class="btn btn-navy" (click)="addmoduleFieldValue()">Add</button>
              </div>
              <br />
              <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-navy"  (click)="PreviousTabNavBar('.tab1')">Back</button>
                <button type="button" class="btn btn-navy" *ngIf="newButton" (click)="NextTabNavBar('.tab3')">Next</button>
                <button type="button" class="btn btn-navy" *ngIf="oldButton" (click)="NextTabNavBars('.tab3')">Next</button>
              </div>
            </div>

            <div class="tab-pane tab3-section">
              <div class="row">
                <div class="col-md-12 form-group">
                  <label>Stage Name : <span class="text-blue">{{stageName}}</span></label>
                </div>
                <div class="col-md-6 form-group">
                  <label for="Module">Module</label>
                  <br/>
                  <p-dropdown    styleClass='pdropdowncustom' [options]="moduleDropdown" formControlName="moduleDropdoenList"  [(ngModel)]="selectedmodule" id="Module" optionLabel="modulename"  placeholder="Select" filter="true" (onChange)="getselectedmodule()"></p-dropdown   >
                    <control-messages *ngIf="moduleDropdownshowerror" [control]="getFields['moduleDropdoenList']" [message]="'moduleDropdoenList'"
                    [customMessage]="''">
                  </control-messages>
                </div>
                <div class="col-md-6 form-group">
                  <label for="sm1">Sub-Module</label>
                  <br/>
                  <p-dropdown   styleClass='pdropdowncustom' [options]="submoduleDropdown" formControlName="submoduleDropdownList"  [(ngModel)]="selectedsubmodule" id="Module" optionLabel="submodulename"  placeholder="Select" filter="true" (onChange)="getselectedsubmodule()"></p-dropdown  >
                </div>
                <div class="col-md-6 form-group">
                  <label for="pn">Privilege</label>
                  <input type="PrivilegeName" [(ngModel)]="privilegeName" formControlName="PrivilegeName"
                    name="PrivilegeName" class="form-control" id="PrivilegeName" maxlength="50" (keyup)="error=''"
                    autocomplete="off">
                  <control-messages *ngIf="showerror" [control]="getFields['PrivilegeName']" [message]="'PrivilegeName'"
                    [customMessage]="''">
                  </control-messages>
                </div>
                
               
                <div class="col-md-6 form-group align-self-end mt-3" >
                  <button type="button"  class="btn btn-navy" (click)="addsubmoduleFieldValue(selectedmodule)">Add</button>
                </div>

              </div>


              <div formArrayName="submoduleinputfield">
                <div class="row"
                  *ngFor="let item of serviceCataloDetailsForm.controls.submoduleinputfield['controls']; let i = index;"
                  [formGroupName]="i">
                  <div class="col-md-6 form-group ml-25p" >
                    <label for="pn">Privilege</label>
                    <input type="PrivilegeName" formControlName="PrivilegeNames"
                      name="PrivilegeName" class="form-control" id="PrivilegeName" maxlength="50" (keyup)="error=''"
                      autocomplete="off">
                    <control-messages *ngIf="showerror" [control]="getFields['PrivilegeName']" [message]="'PrivilegeName'"
                      [customMessage]="''">
                    </control-messages>
                  </div>
                  <div class="form-group">
                    <label for="s">Action</label>
                    <br />
                    <button class="justify-content-between action-margin" type="button" (click)="deletesubmoduleFieldValue(i)"><i class="fas fa-trash-alt"></i></button>
                  </div>
                </div>
              </div>
              

              <div class="row" *ngIf="showtable">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered scrape-select-table text-center">
                            <thead>
                                <tr class="bg-light-white">
                                  <th>Stage</th>
                                    <th>Module</th>
                                    <th >SubModule</th>
                                    <th>Privilege</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let jsonList of serviceCatalogInputJson; let i = index">
                                <tr><!-- [hidden]="!category.status">-->
                                  <td>
                                    {{jsonList.stagename}}
                                  </td>
                                    <td >
                                        <span class="categorylabel">
                                          <!-- <i (click)="removecategory(category.categoryid)"  class="fa fa-times-circle" aria-hidden="true"></i> -->
                                          {{jsonList.modulename}}</span>
                                    </td>
                                    <td ><div class="categorylabel" >{{jsonList.submodulename}}
                                      <!-- <i (click)="removesource(source.siteid)" class="fa fa-times" aria-hidden="true"></i> -->
                                    </div></td>
                                    <td ><div class="categorylabel" >{{jsonList.Privilege_Name}}
                                      <!-- <i (click)="removesource(source.siteid)" class="fa fa-times " aria-hidden="true"></i> -->
                                    </div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer justify-content-center">
                      <button type="button" [disabled]="disadble" class="btn btn-danger" data-dismiss="modal" disadble
                      (click)="Close()">Close</button>
                    <button type="button" [disabled]="disadble" class="btn btn-navy" disadble (click)="InsertForm()">Save</button>
                    </div>
                </div>
            </div>



              <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-navy" (click)="PreviousTabNavBar('.tab2')">Back</button>
                <button type="button" *ngIf="disadbleSubmit" class="btn btn-primary" (click)="InsertForm()">Submit</button>
              </div>
              <div class=" modal-footer">
               
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editmenu"  tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Modules</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
            aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
            <form [formGroup]="serviceCataloDetailsForm" (ngSubmit)="UpdateForm(serviceCataloDetailsForm.value)"
              autocomplete="off">
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="MenuName">Module Name</label>
                  <input type="MenuName" [(ngModel)]="menuName" formControlName="MenuName" name="MenuName"
                    class="form-control" id="MenuName" maxlength="50" (keyup)="error=''" autocomplete="off">
                  <control-messages [control]="getFields['MenuName']" [message]="'MenuName'" [customMessage]="''">
                  </control-messages>
                </div>
                <div class="col-md-6 form-group align-self-end">
                  <label for="epass" class="mr-3">Active</label>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" formControlName="active" value="true" name="active"
                      class="custom-control-input" [(ngModel)]="selectedValue">
                    <label class="custom-control-label" for="customRadioInline1">Yes</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" value="false" formControlName="active" name="moduleName"
                      class="custom-control-input" [(ngModel)]="selectedValue">
                    <label class="custom-control-label" for="customRadioInline2">No</label>
                  </div>
                </div>
              </div>
              <div class=" modal-footer">
                <button type="button" [disabled]="disadble" class="btn btn-danger" data-dismiss="modal"
                  (click)="Close()">Close</button>
                <button type="submit" [disabled]="disadble" class="btn btn-navy">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editsubmenu"  tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit SubModules</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
            aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
            <form [formGroup]="serviceCataloDetailsForm" (ngSubmit)="UpdateForm(serviceCataloDetailsForm.value)"
              autocomplete="off">
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="sm">Sub-Module Name</label>
                  <input type="subModuleName" [(ngModel)]="submenuName" formControlName="subModuleName"
                    name="subModuleName" class="form-control" id="subModuleName" maxlength="50" (keyup)="error=''"
                    autocomplete="off">
                  <control-messages [control]="getFields['subModuleName']" [message]="'subModuleName'"
                    [customMessage]="''">
                  </control-messages>
                </div>
                <div class="col-md-6 form-group align-self-end">
                  <label for="epass" class="mr-3">Active</label>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" formControlName="active" value="true" name="active"
                      class="custom-control-input" [(ngModel)]="selectedValue">
                    <label class="custom-control-label" for="customRadioInline1">Yes</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" value="false" formControlName="active" name="moduleName"
                      class="custom-control-input" [(ngModel)]="selectedValue">
                    <label class="custom-control-label" for="customRadioInline2">No</label>
                  </div>
                </div>
              </div>
              <div class=" modal-footer">
                <button type="button" [disabled]="disadble" class="btn btn-danger" data-dismiss="modal"
                  (click)="Close()">Close</button>
                <button type="submit" [disabled]="disadble" class="btn btn-navy">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editprivilege" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Privilege</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
            aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
            <form [formGroup]="serviceCataloDetailsForm" (ngSubmit)="UpdateForm(serviceCataloDetailsForm.value)"
              autocomplete="off">
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="pn">Privilege</label>
                  <input type="PrivilegeName" [(ngModel)]="privilegeName" formControlName="PrivilegeName"
                    name="PrivilegeName" class="form-control" id="PrivilegeName" maxlength="50" (keyup)="error=''"
                    autocomplete="off">
                  <control-messages [control]="getFields['PrivilegeName']" [message]="'PrivilegeName'"
                    [customMessage]="''">
                  </control-messages>
                </div>
                <div class="col-md-6 form-group align-self-end">
                  <label for="epass" class="mr-3">Active</label>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" formControlName="active" value="true" name="active"
                      class="custom-control-input" [(ngModel)]="selectedValue">
                    <label class="custom-control-label" for="customRadioInline1">Yes</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" value="false" formControlName="active" name="moduleName"
                      class="custom-control-input" [(ngModel)]="selectedValue">
                    <label class="custom-control-label" for="customRadioInline2">No</label>
                  </div>
                </div>
              </div>
              <div class=" modal-footer">
                <button type="button" [disabled]="disadble" class="btn btn-danger" data-dismiss="modal"
                  (click)="Close()">Close</button>
                <button type="submit" [disabled]="disadble" class="btn btn-navy">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

