footer{
    background:none;
}
.modal-header{
    position: relative;
    left: -1px;
}
.modal-header h5{
    font-size:14px;
}
.modal-header h5:before{
    /* border-top: 45px solid transparent; */
}
/*.error{
    position:absolute;
}*/
.xicon-span{
  color: #17232d;
    font-weight: 500;
    font-size: 12px;
}
.xicon-span i{
  color:#ccc;
  cursor:pointer;
  padding-left: 6px;
    margin-bottom: 6px;
}

.ui-toast .ui-toast-message-content {
    padding: 0 !important;
}

.attribute-height{
    min-height: 270px;
    max-height: 270px;
    overflow:auto;

}
.collapse .attribute-height{
  min-height:180px;
  max-height:180px;
}
.attribute-height::-webkit-scrollbar {
    width: 7px;
  }
   
  .attribute-height::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px transparent;
  }
   
  .attribute-height::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;;
   border-radius:3.5px;
  }



.daterange.form-control:disabled, .daterange.form-control[readonly]{
	background-color:#fff !important;
	padding-left:30px;
}
.date-icon{
	position: absolute;
    left: 25px;
    top: 27px;
}


.attr-g-remove{
    color: #b7b7b7 !important;
    font-weight: 600;
    position: relative;
    top: 15px;
    right: 10px;
    cursor:pointer;
}


/* drag adn drop */
/* draggable targets */
ul.draggie li{
    /* cursor:move; */
}

li.selected-checkbox, li.selected-checkbox .child{
    background: #eeeeee;
  
}


/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
    /* transition: transform 300ms cubic-bezier(0, 0, 0.2, 1); */
  }
  
  /* Animate an item that has been dropped. */
  .cdk-drag-animating {
    /* transition: transform 400ms cubic-bezier(0, 0, 0.2, 1); */
  }
  .example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-animating {
    /* transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); */
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-custom-placeholder {
    background: #fff;
    border: dotted 3px #999;
    min-height: 320px;
    width:300px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
/* new attr list  */
.attr-table{
  border-collapse:separate; 
  border-spacing:0 10px; 
}
  .attr-table td{
border: 0 !important;
background:#f8f6f6;
padding:8px 10px;
cursor:pointer;
  }
  .attr-table td:first-child{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  .attr-table td:last-child{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
 .attr-table tr.selected.dragging td{
    height:0 !important;
    background:#ccc;
  }
 tr th:first-child, tr td:first-child{
    border-left: 1px solid #DEE2E6 !important;
   }
    tr th:last-child, tr td:last-child{
    border-right: 1px solid #DEE2E6 !important;
   }
   .attr-table tr.selected td:first-child{
    border-left: 1px solid purple !important;
   }
   .attr-table  tr.selected td:last-child{
    border-right: 1px solid purple !important;
   }
   .attr-table  tr.selected td{
    border-bottom: 1px solid purple !important;
    border-top: 1px solid purple !important;
   }
  .sno{
    background: #e2e2e2 !important;
    width:35px;
    text-align:center;
  }
  .sno-small{
    background: #e2e2e2 !important;
   
    width:30px;
    text-align:center;
  }
  .list-group-item.rounded.border-0{
    border-radius:5px !important;
  }
.del-close{
  position: absolute;
  right:10px;
  top:10px;
  z-index: 20;
}
  .w-100{
    width:100%;
  }
  .h-100{
    height:100%;
  }
  .card-header.b-radius-0{
    border-radius: 0 !important;
  }
  .sg-div .card-header h5{
    font-size:12px;
    padding:10px;
  }
  .sg-div input.form-control{
    font-size:12px
  }
  .group .card{
    border-radius: 3px;
    box-shadow:none !important;
  }
  .group .card table td{
    font-size:12px;
  }
  .card{
    box-shadow:none;
  }
  
  /* new attr list added end */
/* darag and drop */

/*new start end */
.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder.selected.dragging {
  opacity: 0!important;
  
}
.cdk-drag-placeholder{
  opacity: 0!important;
}

.cdk-drag-animating {
  /* transition: transform 50ms cubic-bezier(0, 0, 0, 1); */
}

.example-box:last-child {
  border: none;
}
.cdk-preview{
  padding:10px 10px;
  background:#fff;
  cursor: move;
  min-width:200px;
  
}

.example-list.cdk-drop-list-dragging .ex-drag:not(.cdk-drag-placeholder) {
  /* transition: transform 250ms cubic-bezier(0, 0, 0.2, 1); */
}



.multi{
  opacity:1;
}
.multi:before{

  position:absolute;
  opacity:1;
  width:300px;
  height:300px;
  display:block;
  z-index:100;
  
  background-size: 50%;
}
.single{
 min-height:60px;
 width: 400px;
 padding:20px 10px;
 background:white;

}
/*new drag end */

#fullscreen .dropdown .dropdown-menu a.dropdown-item{
  font-size:12px !important; 
  text-transform: capitalize;
}
.expand-icon{
  padding:10px;
  border-radius:3px;
  border:1px solid #dedede;
}

.filenameip{
  text-decoration: underline;cursor:pointer;color:#007ad9
}
#opName{
  position:relative;top:2px;
}
#dwnTemplate{
  text-decoration: underline;cursor:pointer;
}
#editAttr .modal-lg{
  max-width:1000px !important;
}

.attribute-head{
  
  white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  width:200px;

}
.parent-atr-head.attribute-head{
  width:300px;
}

