<div class="content-section">
  <nav aria-label="breadcrumb" class="breadcrumb-section">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html" class="home"><i class="fas fa-home" aria-hidden="true"></i></a>
      </li>
      <li class="breadcrumb-item"><a href="index.html">Modules Management</a></li>
    </ol>
  </nav>
  <div class="row form-group">
    <div class="col-lg-12">
      <div class="card h-100">
        <div class="card-header">
          <h5>Modules</h5>
          <a href="javascript:void(0);" class="btn-add" data-toggle="modal" data-target="#adduser" (click)="Open()">Add
            New</a>
        </div>
        <div class="card-body" *ngIf="showmenu">
          <div class="row">
            <div class="col-12">
              <div class="display-inline-block margin-r-10"><b>{{menuList.length}}</b> Results Found
              </div>
              <!-- <p-messages [showTransitionOptions]="'1ms'" [(value)]="msgs" [closable]="true"></p-messages> -->
              <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
              <div class="form-inline float-right form-group">
                <div class="dropdown export-btn"> <a href="javascript:void(0);" class="btn btn-export mr-3"
                    data-toggle="dropdown"><i class="fas fa-file-export"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item"
                      (click)="exportPdf()">PDF</a> <a class="dropdown-item" (click)="dt.exportCSV()">CSV</a>
                    <!-- <a class="dropdown-item" (click)="exportExcel()">Excel</a> -->
                  </div>
                </div>
                <input type="text" class="form-control" id="courseNumber" placeholder="Search"
                  (input)="dt.filterGlobal($event.target.value, 'contains')">
              </div>
            </div>
            <div class="col-12">
              <p-table #dt class="" [value]="menuList" [columns]="cols" [paginator]="true"
                [rowsPerPageOptions]="[5,10,25,50,100,500]" [rows]="10" sortMode="multiple" rowHover="true"
                sortMode="multiple" [responsive]="true" exportFilename="MenuList_Details">

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th class="text-center" *ngFor="let col of columns" [pSortableColumn]="col.field">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th class="text-center w-10" >Status</th>
                    <th class="text-center w-10" >Action</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td class="text-center" *ngFor="let col of columns">
                      <div>
                        {{rowData[col.field]}}
                      </div>                     
                    </td>
                    <td class="text-center">
                      <i class="fas fa-square text-success" *ngIf="rowData.active == true"></i>
                      <i class="fas fa-square text-danger" *ngIf="rowData.active == false"></i>
                    </td>
                    <td class="text-center">
                      <a href="javascript:void(0);" class="text-primary mr-3" (click)="editMenuList(rowData)"
                        title="Edit" data-toggle="modal" data-target="#editmenu">
                        <i class="fas fa-pen-square"></i>
                      </a>
                      <a href="javascript:void(0);" class="text-danger" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                    <td class="text-center" [attr.colspan]="columns.length + 2">
                      <b>No records found</b>
                    </td>
                  </tr>
                </ng-template>

              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="adduser" *ngIf="show" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add / Edit Modules</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"> <span
            aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist"> <a class="nav-item nav-link active"
                  id="nav-create-emp-tab" data-toggle="tab" href="#nav-create-emp" role="tab"
                  aria-controls="nav-create-emp" aria-selected="true">Upload Modules List</a> <a
                  class="nav-item nav-link" id="nav-data-submission-tab" data-toggle="tab" href="#nav-data-submission1"
                  role="tab" aria-controls="nav-data-submission" aria-selected="false">Create Main Menu</a> <a
                  class="nav-item nav-link" id="nav-data-submission-tab1" data-toggle="tab" href="#nav-data-submission"
                  role="tab" aria-controls="nav-data-submission" aria-selected="false">Create Sub Menu</a> </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">

              <div class="tab-pane fade show active pt-4" id="nav-create-emp" role="tabpanel"
                aria-labelledby="nav-create-emp-tab">
                <!-- Tab Content1 Starts-->

                <div class="form-row">
                  <div class="col-md-12 form-group"> <a href="doc/NCCategory_Template.xlsx"
                      class="btn btn-primary btn-sm">Download Template</a> </div>
                  <div class="col-md-6 form-group">
                    <label for="collegeName">Upload Modules File <span class="text-danger">*</span></label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                </div>
                <div class=" modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="Close()">Close</button>
                  <button type="submit" class="btn btn-navy">Save</button>
                </div>
                <!-- Tab Content1 Ends-->
              </div>

              <div class="tab-pane fade show" id="nav-data-submission1" role="tabpanel"
                aria-labelledby="nav-data-submission-tab">
                <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
                <!-- Tab Content1 Starts-->
                <form [formGroup]="menuForm" (ngSubmit)="submitForm(menuForm.value)" autocomplete="off">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label for="MenuName">Main Menu Name</label>
                      <input type="MenuName" formControlName="MenuName" name="MenuName" class="form-control"
                        id="MenuName" maxlength="50" (keyup)="error=''" autocomplete="off">
                      <control-messages [control]="getFields['MenuName']" [message]="'MenuName'" [customMessage]="''">
                      </control-messages>
                      <!-- <input type="text" class="form-control" formControlName="menuName" id="menuname"> -->
                    </div>

                    <div class="col-md-6 form-group align-self-end">
                      <label for="epass" class="mr-3">Active</label>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" formControlName="active" value="true" name="active"
                          class="custom-control-input" [(ngModel)]="selectedValue">
                        <label class="custom-control-label" for="customRadioInline1">Yes</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" value="false" formControlName="active"
                          name="moduleName" class="custom-control-input" [(ngModel)]="selectedValue">
                        <label class="custom-control-label" for="customRadioInline2">No</label>
                      </div>
                    </div>

                   


                  </div>
                  <div class=" modal-footer" >
                    <button type="button" class="btn btn-danger" [disabled]="disadble" data-dismiss="modal" (click)="Close()">Close</button>
                    <button type="submit" [disabled]="disadble" class="btn btn-navy">Save</button>                    
                  </div>
                </form>
                <!-- Tab Content1 Ends-->
              </div>

              <div class="tab-pane fade show" id="nav-data-submission" role="tabpanel"
                aria-labelledby="nav-data-submission-tab">
                <!-- Tab Content1 Starts-->
                <form>
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label for="ename">Sub Menu Name</label>
                      <input type="text" class="form-control" id="ename">
                    </div>

                    <div class="col-md-6 form-group align-self-end">
                      <label for="epass" class="mr-3">Active</label>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1"
                          class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Yes</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1"
                          class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">No</label>
                      </div>
                    </div>
                  </div>
                  <div class=" modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="Close()">Close</button>
                    <button type="submit" class="btn btn-navy">Save</button>
                  </div>
                </form>
                <!-- Tab Content1 Ends-->
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-navy">Save</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="editmenu" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Modules</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
            aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
            <form [formGroup]="menuForm" (ngSubmit)="UpdateForm(menuForm.value)" autocomplete="off">
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="MenuName">Main Menu Name</label>
                  <input type="MenuName" [(ngModel)]="menuName" formControlName="MenuName" name="MenuName"
                    class="form-control" id="MenuName" maxlength="50" (keyup)="error=''" autocomplete="off">
                  <control-messages [control]="getFields['MenuName']" [message]="'MenuName'" [customMessage]="''">
                  </control-messages>
                </div>
                <div class="col-md-6 form-group align-self-end">
                  <label for="epass" class="mr-3">Active</label>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" formControlName="active" value="true" name="active"
                      class="custom-control-input" [(ngModel)]="selectedValue">
                    <label class="custom-control-label" for="customRadioInline1">Yes</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" value="false" formControlName="active" name="moduleName"
                      class="custom-control-input" [(ngModel)]="selectedValue">
                    <label class="custom-control-label" for="customRadioInline2">No</label>
                  </div>
                </div>
              </div>
              <div class=" modal-footer">
                <button type="button" [disabled]="disadble" class="btn btn-danger" data-dismiss="modal" (click)="Close()">Close</button>
                <button type="submit" [disabled]="disadble" class="btn btn-navy">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>