<div class="content-section" id="fullscreen" [ngClass]="{'ml-0': !showSideBar}">
    
    <div class="row form-group">
        <div class="col-lg-12">
            <div class="card h-100">
                <div class="card-header">
                    <h5>Role Definition</h5>
                    <a href="javascript:void(0);" class="btn-add" (click)="Open()" data-toggle="modal" data-target="#addRoleDefinitions">Add New</a>                    </div>
                <div class="card-body" *ngIf="showCount">
                    <div class="row">
                        <div class="col-12">
                            <div class="display-inline-block margin-r-10 float-left mt-2"><b>{{ dt.totalRecords }}</b> Results Found</div>
                            <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
                            <div class="form-inline float-right form-group">
                                <div class="dropdown export-btn"> <a href="javascript:void(0);" class="btn btn-export mr-3" data-toggle="dropdown"><i class="fas fa-file-export"></i></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" (click)="exportPdf()">PDF</a> <a class="dropdown-item" (click)="dt.exportCSV()">CSV</a>
                                        <!--<a class="dropdown-item" (click)="exportExcel()">Excel</a>-->
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="search" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">

                            </div>
                        </div>
                        <div class="col-12">
                            <p-table #dt class="p-table-grid" [columns]="cols" [value]="roleDefinitions" [paginator]="true" [rowsPerPageOptions]="[5,10,25,50,100,500]"
                                [rows]="10" sortMode="multiple" rowHover="true" sortMode="multiple" [responsive]="true" exportFilename="RoleDefinition_Details"
                                [globalFilterFields]="cols">

                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <th [ngClass]="{'text-center': col.field === 'insertedDateTime'? true: false}"  *ngFor="let col of columns" [pSortableColumn]="col.field">
                                            {{col.header}}
                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                        </th>
                                        <th class="text-center w-10" >Status</th>
                                        <th class="text-center w-10">Action</th>

                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-rowData let-columns="columns">
                                    <tr>
                                        <td [ngClass]="{'text-center': col.field === 'insertedDateTime'? true: false}" *ngFor="let col of columns">
                                            <div>
                                                {{rowData[col.field]}}
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <i class="fas fa-square text-success" *ngIf="rowData.active == true"></i>
                                            <i class="fas fa-square text-danger" *ngIf="rowData.active == false"></i>
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:void(0);" class="text-primary mr-3" (click)="editRoleDefinition(rowData)" title="Edit" data-toggle="modal"
                                                data-target="#editRoleDefinition">
                                                <i class="fas fa-pen-square"></i>
                                            </a>
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#deleteModal" class="text-danger" title="Delete" (click)="deleteRole(rowData)"><i class="fas fa-trash-alt"></i></a>

                                        </td>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="emptymessage" let-columns>
                                    <tr>
                                        <td class="text-center" [attr.colspan]="columns.length + 2">
                                            <b>No records found</b>
                                        </td>
                                    </tr>
                                </ng-template>

                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addRoleDefinitions" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Role Definition</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">



                        <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
                        <form [formGroup]="roleDefinitionForm" (ngSubmit)="submitForm(roleDefinitionForm.value)" autocomplete="off">
                            <div class="row">

                                <div class="col-md-6 form-group">
                                    <label for="Role">Role</label>
                                    <input type="text" formControlName="Role" name="Role" class="form-control" id="Role" maxlength="50" (keyup)="error=''" autocomplete="off">

                                    <div *ngIf="isSubmitted && roleDefinitionForm.controls['Role'].errors?.required" class="error">
                                        Please enter a role name
                                    </div>
                                    <div *ngIf="isSubmitted && !roleDefinitionForm.controls['Role'].errors?.required && roleDefinitionForm.controls['Role'].errors?.whitespace"
                                        class="error">
                                        please remove whitespace or special characters
                                    </div>
                                    <div *ngIf="isSubmitted && !roleDefinitionForm.controls['Role'].errors?.required && !roleDefinitionForm.controls['Role'].errors?.whitespace && roleDefinitionForm.controls['Role'].errors?.alphabetical"
                                        class="error">
                                        Special characters or numbers not allowed for role name
                                    </div>
                                    <div *ngIf="isSubmitted && roleDefinitionForm.controls['Role'].errors?.maxlength ? true: false" class="error">
                                        Role name must be lessthan 50 characters
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label for="ProjectType">Project Type</label>
                                    <angular2-multiselect [data]="projectTypeList" [(ngModel)]="projectTypeSelectedItems" formControlName="ProjectType" [settings]="projectTypeSettings"
                                        (onSelect)="onProjectTypeItemSelect($event)" (onDeSelect)="onProjectTypeItemDeSelect($event)"
                                        (onDeSelectAll)="onProjectTypeItemDeSelectAll($event)" (onFilterDeSelectAll)="onProjectTypeFilterDeSelectAll($event)"
                                        (onFilterSelectAll)="onProjectTypeFilterSelectAll($event)">
                                    </angular2-multiselect>
                                    <div class="error" *ngIf="isSubmitted && roleDefinitionForm.controls['ProjectType'].errors?.required">
                                        Please select project type
                                    </div>
                                </div>


                                <div class="col-md-12 form-group">
                                    <label for="RoleDescription">Role Description</label>
                                    <textarea type="text" formControlName="RoleDescription" [pattern]="descriptionPattern" name="RoleDescription" class="form-control"
                                        id="RoleDescription" (keyup)="error=''" autocomplete="off"></textarea>
                                    <div class="error" *ngIf="isSubmitted && roleDefinitionForm.controls['RoleDescription'].errors?.required">
                                        Please enter role description
                                    </div>

                                    <div class="error" *ngIf="isSubmitted && !roleDefinitionForm.controls['RoleDescription'].errors?.required && isNumber(roleDefinitionForm.controls['RoleDescription'].value)">
                                        Numbers only not allowed in role description
                                    </div>

                                    <div class="error" *ngIf="isSubmitted && !roleDefinitionForm.controls['RoleDescription'].errors?.required && roleDefinitionForm.controls['RoleDescription'].errors?.description">
                                        Please enter valid description
                                    </div>
                                </div>


                                <div class="col-md-6 form-group">
                                    <label for="Stage">Stage</label>
                                    <angular2-multiselect [data]="stageList" formControlName="Stage" [settings]="stageSettings" (onSelect)="OnAddStageItemSelect($event)"
                                        (onFilterDeSelectAll)="onStageFilterDeSelectAll($event)" (onFilterSelectAll)="onStageFilterSelectAll($event)"
                                        (onDeSelectAll)="onAddStageDeSelectAll($event)">
                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['Stage']" [message]="'Stage'" [customMessage]="''"></control-messages>
                                </div>



                                <div class="col-md-6 form-group">
                                    <label for="Module">Module</label>
                                    <angular2-multiselect [data]="moduleList" formControlName="Module" [settings]="moduleSettings" (onSelect)="OnAddItemSelect($event)"
                                        (onDeSelect)="OnAddItemDeSelect($event)" (onSelectAll)="onAddSelectAll($event)" (onFilterDeSelectAll)="onAddFilterDeSelectAll($event)"
                                        (onFilterSelectAll)="onAddFilterSelectAll($event)" (onDeSelectAll)="onAddDeSelectAll($event)">
                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['Module']" [message]="'Module'" [customMessage]="''"></control-messages>
                                </div>



                                <div class="col-md-6 form-group">
                                    <label for="SubModule">Sub Module</label>
                                    <angular2-multiselect formControlName="SubModule" [data]="subModuleList" [settings]="subModuleSettings" (onSelect)="onAddSubItemSelect($event)"
                                        (onDeSelect)="onAddSubItemDeSelect($event)" (onSelectAll)="onAddSubSelectAll($event)"
                                        (onDeSelectAll)="onAddSubDeSelectAll($event)" (onGroupDeSelect)="onAddSubGroupSelect($event)"
                                        (onGroupSelect)="onAddSubGroupDeSelect($event)">


                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['SubModule']" [message]="'Sub module'" [customMessage]="''"></control-messages>
                                </div>


                                <div class="col-md-6 form-group align-self-end">
                                    <label for="epass" class="mr-3">Active</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" formControlName="active" value="true" name="active" class="custom-control-input"
                                            [(ngModel)]="selectedValue">
                                        <label class="custom-control-label" for="customRadioInline1">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2" value="false" formControlName="active" name="active" class="custom-control-input"
                                            [(ngModel)]="selectedValue">
                                        <label class="custom-control-label" for="customRadioInline2">No</label>
                                    </div>
                                </div>


                                <div class="col-12 mt-3">
                                    <div class="accordion" id="module-main">
                                        <div id="stageInfo" *ngFor="let stages of serviceCataloDetails; let i = index">
                                            <div *ngFor="let modules of stages.modules; let j = index">
                                                <div class="card card_div module-{{ modules.moduleId }}" id="module-{{ modules.moduleId }}" [style.display]="'none'">
                                                    <div class="card-header" id="headingOne">
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse_' + j" [attr.aria-controls]="'#collapse_' + j"
                                                            aria-expanded="true"> {{ modules.moduleName }} </button>
                                                    </div>
                                                    <!--{{ j == 0 ? 'show' : ''}}-->
                                                    <div id="collapse_{{ j }}" class="collapse" aria-labelledby="headingOne" data-parent="#module-main">
                                                        <div class="card-body">
                                                            <table class="table m-0">
                                                                <tbody>
                                                                    <tr class="border-0 subModule-{{ subModules.subModuleId }}" *ngFor="let subModules of modules.submodules; let k = index"
                                                                        [style.display]="'none'">
                                                                        <td class="border-0 table-light">
                                                                            {{ subModules.subModuleName}}
                                                                        </td>
                                                                        <td class="border-0">
                                                                            <div class="row">
                                                                                <div class="col-md-4" *ngFor="let privillege of subModules.privileges; let l = index">
                                                                                    <div class="custom-control custom-checkbox">
                                                                                        <input type="checkbox" class="custom-control-input {{ modules.moduleId }}_{{ subModules.subModuleId }}_{{ privillege.privilegeId }}"
                                                                                            name="checkbox" (change)="onChange(modules.moduleId, subModules.subModuleId, privillege.privilegeId,  $event.target.checked)"
                                                                                            id="{{ subModules.subModuleName}}_{{ privillege.privilegeId }}_{{ k }}"
                                                                                            value="{{ modules.moduleId }}_{{ subModules.subModuleId }}_{{ privillege.privilegeId }}">
                                                                                        <label class="custom-control-label" for="{{ subModules.subModuleName}}_{{ privillege.privilegeId }}_{{ k }}">{{ privillege.privilege_Name }}</label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!-- <ul class="privilege-checklist">
                                                                                <li *ngFor="let privillege of subModules.privileges; let l = index">
                                                                                    <div class="custom-control custom-checkbox">
                                                                                        <input type="checkbox" class="custom-control-input {{ modules.moduleId }}_{{ subModules.subModuleId }}_{{ privillege.privilegeId }}"
                                                                                            name="checkbox" (change)="onChange(modules.moduleId, subModules.subModuleId, privillege.privilegeId,  $event.target.checked)"
                                                                                            id="{{ subModules.subModuleName}}_{{ privillege.privilegeId }}_{{ k }}"
                                                                                            value="{{ modules.moduleId }}_{{ subModules.subModuleId }}_{{ privillege.privilegeId }}">
                                                                                        <label class="custom-control-label" for="{{ subModules.subModuleName}}_{{ privillege.privilegeId }}_{{ k }}">{{ privillege.privilege_Name }}</label>
                                                                                    </div>
                                                                                </li>
                                                                            </ul> -->
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--<div class="col-12 mt-3">
                                    <div class="accordion" id="module-main" *ngFor="let stages of serviceCataloDetails; let i = index">
                                        <div class="card" *ngFor="let modules of stages.modules">
                                            <div class="card-header" id="headingOne" >
                                                <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapseOne_' + i" aria-expanded="true"
                                                    aria-controls="collapseOne"> {{ modules.moduleName }} </button>
                                            </div>

                                            <div id="collapseOne_{{ i }}" class="collapse {{ i==0 ? 'show' : ''}}" aria-labelledby="headingOne" data-parent="#module-main">
                                                <div class="card-body">
                                                    <table class="table m-0" *ngFor="let subModules of stages.modules; let j = index">
                                                        <tbody>
                                                            <tr class="border-0" *ngFor="let subModules of subModules.submodules; let k = index">
                                                                <td class="border-0 table-light">
                                                                    {{ subModules.subModuleName}}
                                                                </td>
                                                                <td class="border-0">
                                                                    <ul class="privilege-checklist">
                                                                        <li *ngFor="let privillege of subModules.privileges; let l = index">
                                                                            <div class="custom-control custom-checkbox">
                                                                                <input type="checkbox" class="custom-control-input" id="{{ privillege.privilegeId }}_{{ k }}" value="{{ privillege.privilegeId }}">
                                                                                <label class="custom-control-label" for="{{ privillege.privilegeId }}_{{ k }}">{{ privillege.privilege_Name }}</label>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->


                            </div>
                            <div class=" modal-footer">
                                <button type="button" class="btn btn-danger" [disabled]="disabled" data-dismiss="modal" (click)="Close()">Close</button>
                                <button type="submit" class="btn btn-navy" [disabled]="disabled">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<div class="modal fade" id="editRoleDefinition" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Edit Role Definition</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
                        <form [formGroup]="roleDefinitionForm" (ngSubmit)="updateForm(roleDefinitionForm.value)" autocomplete="off">
                            <div class="row">

                                <div class="col-md-6 form-group">
                                    <label for="Role">Role</label>
                                     <input type="text" formControlName="Role" name="Role" [(ngModel)]="role" class="form-control" id="Role" maxlength="50" (keyup)="error=''"
                                        autocomplete="off">
                                    <div *ngIf="isSubmitted && roleDefinitionForm.controls['Role'].errors?.required" class="error">
                                        Please enter a role name
                                    </div>
                                    <div *ngIf="isSubmitted && !roleDefinitionForm.controls['Role'].errors?.required && roleDefinitionForm.controls['Role'].errors?.whitespace"
                                        class="error">
                                        please remove whitespace or special characters
                                    </div>
                                    <div *ngIf="isSubmitted && !roleDefinitionForm.controls['Role'].errors?.required && !roleDefinitionForm.controls['Role'].errors?.whitespace && roleDefinitionForm.controls['Role'].errors?.alphabetical"
                                        class="error">
                                        Special characters or numbers not allowed for role name
                                    </div>
                                    <div *ngIf="isSubmitted && roleDefinitionForm.controls['Role'].errors?.maxlength ? true: false" class="error">
                                        Role name must be lessthan 50 characters
                                    </div>
                                </div>


                                <div class="col-md-6 form-group">
                                    <label for="ProjectType">Project Type</label>
                                    <angular2-multiselect [data]="projectTypeList" [(ngModel)]="projectTypeSelectedItems" formControlName="ProjectType" [settings]="projectTypeSettings"
                                        (onSelect)="onProjectTypeItemSelect($event)" (onDeSelect)="onProjectTypeItemDeSelect($event)"
                                        (onDeSelectAll)="onProjectTypeItemDeSelectAll($event)" (onFilterDeSelectAll)="onProjectTypeFilterDeSelectAll($event)"
                                        (onFilterSelectAll)="onProjectTypeFilterSelectAll($event)">
                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['ProjectType']" [message]="'Project type'" [customMessage]="''"></control-messages>
                                </div>


                                <div class="col-md-12 form-group">
                                    <label for="RoleDescription">Role Description</label>
                                    <textarea type="text" formControlName="RoleDescription" [(ngModel)]="roleDescription" name="RoleDescription" class="form-control"
                                        id="RoleDescription" (keyup)="error=''" autocomplete="off"></textarea>
                                    <div class="error" *ngIf="isSubmitted && roleDefinitionForm.controls['RoleDescription'].errors?.required">
                                        Please enter role description
                                    </div>

                                    <div class="error" *ngIf="isSubmitted && !roleDefinitionForm.controls['RoleDescription'].errors?.required && isNumber(roleDefinitionForm.controls['RoleDescription'].value)">
                                        Numbers only not allowed in role description
                                    </div>

                                    <div class="error" *ngIf="isSubmitted && !roleDefinitionForm.controls['RoleDescription'].errors?.required && roleDefinitionForm.controls['RoleDescription'].errors?.description">
                                        Please enter valid description
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label for="Stage">Stage</label>
                                    <angular2-multiselect [data]="stageList" [(ngModel)]="stageSelectedItems" formControlName="Stage" [settings]="stageSettings"
                                        (onSelect)="OnAddStageItemSelect($event)"
                                        (onFilterDeSelectAll)="onStageFilterDeSelectAll($event)" (onFilterSelectAll)="onStageFilterSelectAll($event)"
                                        (onDeSelectAll)="onAddStageDeSelectAll($event)">
                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['Stage']" [message]="'Stage'" [customMessage]="'Please select a stage'"></control-messages>
                                </div>



                                <div class="col-md-6 form-group">
                                    <label for="Module">Module</label>
                                    <angular2-multiselect [data]="moduleList" [(ngModel)]="moduleSelectedItems" formControlName="Module" [settings]="moduleSettings"
                                        (onSelect)="OnAddItemSelect($event)" (onDeSelect)="OnAddItemDeSelect($event)" (onSelectAll)="onAddSelectAll($event)"
                                        (onDeSelectAll)="onAddDeSelectAll($event)" (onFilterDeSelectAll)="onAddFilterDeSelectAll($event)"
                                        (onFilterSelectAll)="onAddFilterSelectAll($event)">
                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['Module']" [message]="'Module'" [customMessage]="''"></control-messages>
                                </div>



                                <div class="col-md-6 form-group">
                                    <label for="SubModule">Sub Module</label>
                                    <angular2-multiselect formControlName="SubModule" [(ngModel)]="subModuleSelectedItems" [data]="subModuleList" [settings]="subModuleSettings"
                                        (onSelect)="onAddSubItemSelect($event)" (onDeSelect)="onAddSubItemDeSelect($event)" (onSelectAll)="onAddSubSelectAll($event)"
                                        (onDeSelectAll)="onAddSubDeSelectAll($event)" (onGroupDeSelect)="onAddSubGroupSelect($event)"
                                        (onGroupSelect)="onAddSubGroupDeSelect($event)">


                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['SubModule']" [message]="'Sub module'" [customMessage]="''"></control-messages>
                                </div>

                                <!--<div class="col-md-6 form-group">
                                    <label for="Role">Role</label>
                                    <input type="text" formControlName="Role" name="Role" [(ngModel)]="role" class="form-control" id="Role" maxlength="50" (keyup)="error=''"
                                        autocomplete="off">
                                    <control-messages [control]="getFields['Role']" [message]="'Role'" [customMessage]="''"></control-messages>
                                </div>

                               
                                <div class="col-md-6 form-group">
                                    <label for="ProjectType">Project Type</label>
                                    <angular2-multiselect [data]="projectTypeList" [(ngModel)]="projectTypeSelectedItems" formControlName="ProjectType" [settings]="projectTypeSettings"
                                        (onSelect)="onProjectTypeItemSelect($event)" (onDeSelect)="onProjectTypeItemDeSelect($event)"  (onDeSelectAll)="onProjectTypeItemDeSelectAll($event)">
                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['ProjectType']" [message]="'Project type'" [customMessage]="''"></control-messages>
                                </div>

                                <div class="col-md-12 form-group">
                                    <label for="RoleDescription">Role Description</label>
                                    <textarea type="text" formControlName="RoleDescription" [(ngModel)]="roleDescription" name="RoleDescription" class="form-control"
                                        id="RoleDescription" (keyup)="error=''" autocomplete="off"></textarea>
                                    <control-messages [control]="getFields['RoleDescription']" [message]="'Role description'" [customMessage]="''"></control-messages>
                                </div>

                                <div class="col-md-6 form-group">
                                    <label for="Stage">Stage</label>
                                    <angular2-multiselect [data]="stageList" formControlName="Stage" [(ngModel)]="stageSelectedItems" [settings]="stageSettings" (onSelect)="OnAddStageItemSelect($event)">
                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['Stage']" [message]="'Stage'" [customMessage]="''"></control-messages>
                                </div>


                                <div class="col-md-6 form-group">
                                    <label for="Module">Module</label>
                                    <angular2-multiselect [data]="moduleList" formControlName="Module" [(ngModel)]="moduleSelectedItems" [settings]="moduleSettings"
                                        (onSelect)="OnEditItemSelect($event)" (onDeSelect)="OnEditItemDeSelect($event)" (onSelectAll)="onEditSelectAll($event)"
                                        (onDeSelectAll)="onEditDeSelectAll($event)">
                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['Module']" [message]="'Module'" [customMessage]="''"></control-messages>
                                </div>



                                <div class="col-md-6 form-group">
                                    <label for="SubModule">Sub Module</label>
                                    <angular2-multiselect formControlName="SubModule" [data]="subModuleList" [(ngModel)]="subModuleSelectedItems" [settings]="subModuleSettings"
                                         (onSelect)="onEditSubItemSelect($event)"
                                        (onDeSelect)="onEditSubItemDeSelect($event)" 
                                        (onSelectAll)="onEditSubSelectAll($event)"
                                        (onDeSelectAll)="onEditSubDeSelectAll($event)"
                                        (onGroupDeSelect)="onEditSubGroupSelect($event)"
                                        (onGroupSelect)="onEditSubGroupDeSelect($event)">
                                    </angular2-multiselect>
                                    <control-messages [control]="getFields['SubModule']" [message]="'Sub module'" [customMessage]="''"></control-messages>
                                </div>-->

                                <div class="col-md-4 form-group align-self-end">
                                    <label for="epass" class="mr-3">Active</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" formControlName="active" value="true" name="active" class="custom-control-input"
                                            [(ngModel)]="selectedValue">
                                        <label class="custom-control-label" for="customRadioInline1">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2" value="false" formControlName="active" name="active" class="custom-control-input"
                                            [(ngModel)]="selectedValue">
                                        <label class="custom-control-label" for="customRadioInline2">No</label>
                                    </div>
                                </div>

                                <div class="col-12 mt-3">
                                    <div class="accordion" id="module-main">
                                        <div id="stageInfo" *ngFor="let stages of editServiceCataloDetails; let i = index">
                                            <div *ngFor="let modules of stages.modules; let j = index">
                                                <div class="card card_div module-{{ modules.moduleId }}" id="module-{{ modules.moduleId }}" [style.display]="modules.selected ? 'block': 'none'">
                                                    <div class="card-header" id="headingOne">
                                                        <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#edit_collapse_' + j" [attr.aria-controls]="'#edit_collapse_' + j"
                                                            aria-expanded="true"> {{ modules.moduleName }} </button>
                                                    </div>
                                                    <div id="edit_collapse_{{ j }}" class="collapse {{ modules.selected ? 'show' : ''}}" aria-labelledby="headingOne" data-parent="#module-main">
                                                        <div class="card-body">
                                                            <table class="table m-0">
                                                                <tbody>
                                                                    <tr class="border-0 subModule-{{ subModules.subModuleId }}" [style.display]="subModules.selected ? '' : 'none'" *ngFor="let subModules of modules.submodules; let k = index">
                                                                        <td class="border-0 table-light">
                                                                            {{ subModules.subModuleName}}
                                                                        </td>
                                                                        <td class="border-0">
                                                                            <ul class="privilege-checklist">
                                                                                <li *ngFor="let privillege of subModules.privileges; let l = index">
                                                                                    <div class="custom-control custom-checkbox" *ngIf="privillege.selected === true">
                                                                                        <input type="checkbox" class="custom-control-input {{ modules.moduleId }}_{{ subModules.subModuleId }}_{{ privillege.privilegeId }}"
                                                                                            name="checkbox" (change)="onChange(modules.moduleId, subModules.subModuleId, privillege.privilegeId,  $event.target.checked)"
                                                                                            id="edit_{{ modules.moduleId }}_{{ subModules.subModuleId}}_{{ privillege.privilegeId }}"
                                                                                            value="{{ modules.moduleId }}_{{ subModules.subModuleId}}_{{ privillege.privilegeId }}"
                                                                                            checked>
                                                                                        <label class="custom-control-label" for="edit_{{ modules.moduleId }}_{{ subModules.subModuleId}}_{{ privillege.privilegeId }}">{{ privillege.privilege_Name }}</label>
                                                                                    </div>
                                                                                    <div class="custom-control custom-checkbox" *ngIf="privillege.selected != true">
                                                                                        <input type="checkbox" class="custom-control-input {{ modules.moduleId }}_{{ subModules.subModuleId }}_{{ privillege.privilegeId }}"
                                                                                            (change)="onChange(modules.moduleId, subModules.subModuleId, privillege.privilegeId,  $event.target.checked)"
                                                                                            id="edit_{{ modules.moduleId }}_{{ subModules.subModuleId}}_{{ privillege.privilegeId }}"
                                                                                            value="{{ modules.moduleId }}_{{ subModules.subModuleId}}_{{ privillege.privilegeId }}">
                                                                                        <label class="custom-control-label" for="edit_{{ modules.moduleId }}_{{ subModules.subModuleId}}_{{ privillege.privilegeId }}">{{ privillege.privilege_Name }}</label>
                                                                                    </div>

                                                                                </li>
                                                                            </ul>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" modal-footer">
                                <button type="button" class="btn btn-danger" [disabled]="disabled" data-dismiss="modal" (click)="Close()">Close</button>
                                <button type="submit" class="btn btn-navy" [disabled]="disabled">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<!-- delete modal -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <p class="text-center mt-3 alert-confirm">Are you sure want to delete <b>{{deleteRoleName}}</b>?</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger modal-close" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-navy" (click)="deleteRoleConfirm()">Yes</button>
            </div>
        </div>
    </div>
</div>