.table-bordered{
    border: 0px solid #dee2e6;
}
.result-found{
    position:relative;
    top: 10px;
    left: 5px;
}

.btn.btn-dark{
    font-size: 12px;
    letter-spacing: .5px;
    background: rgb(29,37,49);
    background: -webkit-gradient(linear, left top, right top, from(rgba(29,37,49,1)), to(rgba(38,53,68,1)));
    background: linear-gradient(to right, rgba(29,37,49,1) 0%, rgba(38,53,68,1) 100%);
}
.clickable{
    cursor:pointer;
}
.ui-corner-all {
	display:none !important;
}

.user-group-section .user-title{
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: .5rem;
	color: #09abdd;
}
.user-group-section ul{
	margin: 0;
	padding: 0;
}
.user-group-section ul li{
	list-style: none;
	font-size: 14px;
	margin-bottom: 5px;	
    display: flex;
	justify-content: space-between;
}
.user-group-section ul li a{
	font-size: 10px;
}

.modal-header{
    position: relative;
    left: -1px;
}
.modal-header h5{
    font-size:14px;
}
.modal-header h5:before{
    /* border-top: 45px solid transparent; */
}
.card-body.card-columns{
  
   
}
.user-title{
    font-size: 12px;
    text-transform: uppercase;
    color: #09abdd;
   
    margin-bottom: 0;
}
.ui-multiselect-label.ui-corner-all{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-group-section div {
    width:200px;margin-bottom:0.5em;
	word-break: break-all;
    text-align: justify;
}

/* .user-group-section a {
    height: auto;
    position: relative;
    left: 19px;
    top: 12px;
} */

.user-group-section p {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 12px 27px 12px 12px;
    width: 227px;
}

.user-group-section i{
    font-size:10px;
}
.user-group-section i{
    font-size:10px;
}
#userWithRole.card{
    height: 200px;
    overflow-y: auto;
}
.scrolling-table-div{
overflow-x:auto;overflow-y:hidden

}

@media (max-width: 768px) { 
/*.left-section{
	width: 0px;	
	z-index: 99;
}*/

.content-section {
	margin-left:0px;
}

}