<div class="content-section" id="fullscreen" [ngClass]="{'ml-0': !showSideBar}">



  <div class="row form-group">
    <div class="col-lg-12">
      <div class="card h-100">
        <div class="card-header">
          <h5>Users Group</h5>
          <a href="javascript:void(0);" class="btn-add" (click)="Open()" data-toggle="modal" data-target="#adduser">Add New</a>
        </div>
        <div class="card-body" *ngIf="showmenu">
          <div class="row">
            <div class="col-12">
              <span class="result-found"><b>{{ dt.totalRecords }}</b> Results Found</span>
              <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
              <div class="form-inline float-right form-group">
                <div class="dropdown export-btn"> <a href="javascript:void(0);" class="btn btn-export mr-3" data-toggle="dropdown"><i class="fas fa-file-export"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" (click)="exportPdf()">PDF</a> <a class="dropdown-item" (click)="exportCSV(dt)">CSV</a>
                    <a class="dropdown-item" (click)="exportExcel()">Excel</a>
                  </div>
                </div>
                <input type="text" class="form-control" id="courseNumber" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">

              </div>
            </div>
            <div class="col-12 scroll-table scrolling-table-div">
              <p-table #dt class="p-table-grid" [columns]="cols" id="groupTable" [value]="userGroup" [paginator]="true" [(selection)]="selectedTableUser"
                dataKey="groupName" [rowsPerPageOptions]="[5,10,25,50,100,500]" [rows]="10" rowHover="true" sortMode="multiple"
                [responsive]="true" exportFilename="UserGroupList_Details" [globalFilterFields]="['groupName', 'noOfUser', 'groupMailId', 'project','createdBy']">

                <ng-template pTemplate="header">
                  <tr>
                    <th  class="w-3em">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th class=""[ngClass]="{'text-center': col.header === 'No.of User'? true : false}" *ngFor="let col of cols" [pSortableColumn]="col.field">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th  class="text-center w-7em">Status</th>
                    <th  class="text-center w-7em">Action</th>

                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-group>
                  <tr>
                    <td>
                      <p-tableCheckbox [value]="group"></p-tableCheckbox>
                    </td>
                    <td>{{group.groupName}}</td>
                    <td class="text-center">{{group.noOfUser}}&nbsp;&nbsp;<a href="javascript:void(0)" class="link-blue ttp" data-toggle="tooltip"
                        data-align="left" data-html="true" tooltipPosition="top" pTooltip="{{group.userList}}"><i class="fas fa-info-circle"></i></a></td>
                    <td>{{group.project}}</td>
                    <td>{{group.groupMailId}}</td>
                    <td>{{group.createdBy}} </td>
                    <td class="text-center">
                      <i class="fas fa-square text-success" *ngIf="group.active == true"></i>
                      <i class="fas fa-square text-danger" *ngIf="group.active == false"></i>
                    </td>
                    <td class="text-center">
                      <a href="javascript:void(0);" class="text-primary mr-3" (click)="editUserGroup(group)" title="Edit" data-toggle="modal" data-target="#adduser">
                        <i class="fas fa-pen-square"></i>
                      </a>

                      <a href="javascript:void(0);" class="text-danger" title="Delete" data-toggle="modal" data-target="#deleteModal" (click)="deleteGroup(group)">
                        <i class="fas fa-trash-alt"></i>
                      </a>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                    <td class="text-center" [attr.colspan]="cols.length + 2">
                      <b>No records found</b>
                    </td>
                  </tr>
                </ng-template>

              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  -->

<!-- addUser modal -->
<!-- Modal -->
<div class="modal fade" id="adduser" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <form (ngSubmit)="submitForm()" [formGroup]='userGroupForm' id="groupForm">
      <div class="modal-content">
        <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Add / Edit User Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-6 form-group">
              <label for="ename">User Group</label>
              <input type="text" class="form-control" id="ename" formControlName="groupName" [(ngModel)]="groupName" value="{{groupName}}">
              <div *ngIf="isSubmitted && userGroupForm.controls['groupName'].errors?.required" class="error">
                Please enter a group name
              </div>
              <div *ngIf="isSubmitted && !userGroupForm.controls['groupName'].errors?.required && userGroupForm.controls['groupName'].errors?.whitespace"
                class="error">
                please remove whitespace or special characters
              </div>
              <div *ngIf="isSubmitted && !userGroupForm.controls['groupName'].errors?.required && !userGroupForm.controls['groupName'].errors?.whitespace &&userGroupForm.controls['groupName'].errors?.alphabetical"
                class="error">
                Special characters or numbers not allowed for group name
              </div>
              <div *ngIf="isSubmitted && userGroupForm.controls['groupName'].errors?.maxlength ? true: false" class="error">
                Group name must be lessthan 50 characters
              </div>
            </div>

            <div class="col-md-6 form-group">
              <label for="Stage">Project</label>
              <angular2-multiselect [data]="projectList" [(ngModel)]="projectSelectedItems" formControlName="project" [settings]="projectSettings"
                (onSelect)="onProjectSelect($event)" (onDeSelect)="OnProjectDeSelect($event)" (onDeSelectAll)="onProjectDeSelectAll($event)" (onFilterSelectAll)="onProjectFilterSelectAll($event)" (onFilterDeSelectAll)="onProjectFilterDeSelectAll($event)">
              </angular2-multiselect>
              <div *ngIf="isSubmitted && userGroupForm.controls['project'].errors?.required ? true: false" class="error">
                Please select a project
              </div>
            </div>



            <div class="col-md-6 form-group">
              <label for="role">User List</label>
              <angular2-multiselect [data]="users" [(ngModel)]="selectedUserList" formControlName="selectedUserList" [settings]="userdpSettings"
                (onDeSelect)="OnItemDeSelect($event)" (onSelect)="onItemSelect($event)" (onSelectAll)="onItemSelectAll($event)"
                (onDeSelectAll)="onItemDeSelectAll($event)" (onFilterSelectAll)="onFilterSelectAll($event)" (onFilterDeSelectAll)="onFilterDeSelectAll($event)">
                <c-item class="ccbtn">
                  <ng-template let-item="item">
                    <label class="multi-sel-label">{{item.itemName}} ({{item.roleNames}})</label>
                  </ng-template>
                </c-item>
              </angular2-multiselect>
              <!-- <p-multiSelect [options]="users" formControlName="selectedUserList" optionLabel="label" (ngModelChange)="setMultiselectLabel()"  dropdownIcon="pi pi-caret-down"  [style]="{'width':'100%','border-radius':'0','border':'1px solid #ced4da'}"></p-multiSelect> -->
              <div *ngIf="isSubmitted && userGroupForm.controls['selectedUserList'].errors?.required || isSubmitted && userGroupForm.controls['selectedUserList'].value.length === 0 ? true: false"
                class="error">
                Please select atleast one user
              </div>
            </div>
            <div class="col-md-6 form-group">
              <label for="groupmail">Group Mail ID</label>
              <input type="text" class="form-control" formControlName="groupmail" [(ngModel)]="groupmail" id="groupmail">
              <div *ngIf="isSubmitted && userGroupForm.controls['groupmail'].errors?.required ? true: false" class="error">
                Please enter a group mail ID
              </div>
              <div *ngIf="isSubmitted && !userGroupForm.controls['groupmail'].errors?.required && userGroupForm.controls['groupmail'].errors?.email"
                class="error">
                Group mail must be a valid email address
              </div>
            </div>
            <div class="col-md-6 form-group align-self-end">
              <label for="epass" class="mr-3">Active</label>
              <p-radioButton name="isActive" value="1" label="Yes" [(ngModel)]="isActive" formControlName="isActive"></p-radioButton>&nbsp;&nbsp;
              <p-radioButton name="isActive" value="0" label="No" [(ngModel)]="isActive" formControlName="isActive"></p-radioButton>
              <div *ngIf="isSubmitted && userGroupForm.controls['isActive'].errors?.required" class="error">Please select a status </div>

            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="card border shadow-none" *ngIf="selectedUserwithRole.length > 0?true:false">
              <div class="card-body p-2 card-columns">
                <div class="user-group-section" *ngFor="let userdata of selectedUserwithRole">

                <div class="card shadow-none">
                <div class="user-title">{{userdata.roleName}}</div>
                <ul>
                <li  *ngFor="let user of userdata.userList"><span>{{user.userName}}</span> <a href="javascript:void(0)" class="text-danger"><i class="fas fa-trash-alt" aria-hidden="true"  (click)="delUserFromGroup(userdata, user)"></i></a></li>
                </ul>
                </div>
                
                </div>
              </div>
              </div>
            </div>
            </div>
          

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit" *ngIf="!editgroup" class="btn btn-navy">Save</button>
          <button type="submit" *ngIf="editgroup" class="btn btn-navy">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- addUser modal end -->


<!-- del modal -->

<!-- delete modal -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <p class="text-center mt-3 alert-confirm">Are you sure want to delete <b>{{groupName}}</b>?</p>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-danger modal-close" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-navy" (click)="deleteUserGroup(deletegroupId)">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->