<div class="left-section" *ngIf="showSideBar"> 
    <aside id="sidebar">
              <ul id="sidemenu" class="sidebar-nav" >
                  <!-- <li class="test active">
                      <a class="test2" [routerLink]="['/home']">                            
                          <span class="sidebar-title">Home</span>
                      </a>
                  </li>  -->
                  <div *ngIf="user_role_id == 2 || user_role_id == 3 || user_role_id == 1">
                    <li [class.active]="isActiveM(['dashboard'])" class="test1">
                        <a class="test2" [routerLink]="['/dashboard']" (click)="shrservice.setCurrentPage('Dashboard')">                            
                            <span class="sidebar-title">Dashboard</span>
                        </a>
                    </li>
                   </div>

                  <div *ngIf="user_role_id == 2">
                    <li [class.active]="isActiveM(['ClientAdministration'])" class="test1">
                        <a class="test2" [routerLink]="['/ClientAdministration']" (click)="shrservice.setCurrentPage('Client Administration')">                            
                            <span class="sidebar-title">Client Registration and Administration</span>
                        </a>
                    </li>
                   </div>



                   <div *ngIf="user_role_id == 2">
                    <li [class.active]="isActiveM(['ClientAdminUserBoard'])" class="test1">
                        <a class="test2" [routerLink]="['/ClientAdminUserBoard']" (click)="shrservice.setCurrentPage('Client Admin User Board')">                            
                            <span class="sidebar-title">Client Admin User Board</span>
                        </a>
                    </li>
                   </div>
    
                   <div *ngIf="user_role_id == 3">
                    <li [class.active]="isActiveM(['UserManagement'])" class="test1">
                        <a class="test2" [routerLink]="['/UserManagement']" (click)="shrservice.setCurrentPage('User Management')">                            
                            <span class="sidebar-title">User Management</span>
                        </a>
                    </li>
                   </div>
    
                   <div *ngIf="user_role_id == 3">
                    <li [class.active]="isActiveM(['Usergroupmanagement'])" class="test1">
                        <a class="test2" [routerLink]="['/Usergroupmanagement']" (click)="shrservice.setCurrentPage('User Group Management')">                            
                            <span class="sidebar-title">Structuring User Groups</span>
                        </a>
                    </li>
                   </div>
                   


                  


                


                <div *ngIf="user_role_id == 2">
                    <li [class.active]="isActiveM(['ServicecatalogComponent'])" class="test1">
                        <a class="test2" [routerLink]="['/ServicecatalogComponent']" (click)="shrservice.setCurrentPage('Service Catalog')">                            
                            <span class="sidebar-title">Service Catalog Setup</span>
                        </a>
                    </li>
                </div>

                 <div *ngIf="user_role_id == 2">
                    <li [class.active]="isActiveM(['ProjectTypeRegulation'])" class="test1">
                        <a class="test2" [routerLink]="['/ProjectTypeRegulation']" (click)="shrservice.setCurrentPage('Project Type Regulation')">                            
                            <span class="sidebar-title">Project Type Regulation</span>
                        </a>
                    </li>
                </div>

                <div *ngIf="user_role_id == 3 || user_role_id == 2">
                    <li [class.active]="isActiveM(['RoleDefinition'])" class="test1">
                        <a class="test2" [routerLink]="['/RoleDefinition']" (click)="shrservice.setCurrentPage('Role Definition')">                            
                            <span class="sidebar-title">Role Definition</span>
                        </a>
                    </li>
                   </div>

               

                <div *ngIf="user_role_id == 3">
                    <li [class.active]="isActiveM(['Projectdefinitions'])" class="test1">
                        <a class="test2" [routerLink]="['/Projectdefinitions']" (click)="shrservice.setCurrentPage('Project Definitions')">                            
                            <span class="sidebar-title">Project Definition</span>
                        </a>
                    </li>
                </div>

                <div *ngIf="user_role_id == 3">
                    <li class="test1" >
                        <a class="test2" [routerLink]="['/input']" (click)="shrservice.setCurrentPage('input')">                            
                            <span class="sidebar-title" [ngClass]="{'text-white':isActiveM(['input']) || isActiveM(['workflow']) }">Project Configuration</span>
                        </a>
                    </li>
                    <div class="pl-4" *ngIf="menulist.projectConfig">
                    <li [class.active]="isActiveM(['input'])" class="test pl-3 li-style-none"  (click)="shrservice.setCurrentPage('Input')">
                        <a class="test2" [routerLink]="['/input']">                            
                            <span class="sidebar-title">Input</span>
                        </a>
                    </li>
                        <li [class.active]="isActiveM(['workflow'])" class="test1 pl-3 li-style-none">
                            <a class="test2" [routerLink]="['/workflow']" (click)="shrservice.setCurrentPage('Workflow')">                            
                                <span class="sidebar-title">Workflow</span>
                            </a>
                        </li>
                    </div>
                      
                      
                        
                       
                </div>

                <div *ngIf="user_role_id == 3">
                    <li [class.active]="isActiveM(['ProjectUserRoleMapping'])" class="test1">
                        <a class="test2" [routerLink]="['/ProjectUserRoleMapping']" (click)="shrservice.setCurrentPage('Project User Role Mapping')">                            
                            <span class="sidebar-title">Project User Role Mapping</span>
                        </a>
                    </li>
                </div>

                <!-- <li class="test1">
                    <a class="test2" [routerLink]="['/ValidationRule']">                            
                        <span class="sidebar-title">Validation Rule</span>
                    </a>
                </li> -->


                  <!-- <li class="">
                      <a [routerLink]="['/useraccesscontrol-components']">                            
                          <span class="sidebar-title">User Access Control</span>
                      </a>
                  </li> -->
                  <!-- <li class="test">
                      <a class="test2 accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
                        <span class="sidebar-title">Data Extraction</span>
                          <b class="caret"></b>
                      </a>
                      <ul id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
                          <li><a href="#">Federated Search</a></li>
                          <li><a href="#">Job Exact</a></li>
                          <li><a href="#">BOT Onboarding</a></li>
                          <li><a href="#">VM Monitoring</a></li>
                      </ul>
                  </li>
                  <li class="test">
                      <a class="test2 accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">                            
                          <span class="sidebar-title">Data Preparation</span>
                          <b class="caret"></b>
                      </a>
                      <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
                          <li><a href="#">useraccesscontrols</a></li>
                          <li><a href="#">BOT Store</a></li>
                          <li><a href="#">useraccesscontrol Store</a></li>
                      </ul>
                  </li>
                  <li class="test">
                      <a class="test2 accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-4">                            
                          <span class="sidebar-title">Data Enrichment</span>
                          <b class="caret"></b>
                      </a>
                      <ul id="submenu-4" class="panel-collapse collapse panel-switch" role="menu">
                          <li><a href="#">Validation Rules</a></li>
                      </ul>
                  </li>
                  <li class="test">
                      <a class="test2 accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-5">                            
                          <span class="sidebar-title">Monitoring</span>
                          <b class="caret"></b>
                      </a>
                      <ul id="submenu-5" class="panel-collapse collapse panel-switch" role="menu">
                          <li><a href="#">Account Summary</a></li>
                          <li><a href="#">Job Monitoring</a></li>
                      </ul>
                  </li>
                  <li class="test">
                      <a href="#" class="test2">                           
                          <span class="sidebar-title">Reports</span>
                      </a>
                  </li>                     -->
              </ul>
          </aside>         
    
</div>   