
<div class="content-section" id="fullscreen" [ngClass]="{'ml-0': !showSideBar}">

    <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
    <div class="row form-group">
        <div class="col-lg-12">
            <div class="card h-100">
                <div class="card-header">
                    <h5>Project User Role Mapping</h5>
                    <a href="javascript:void(0);" class="btn-add" data-toggle="modal" (click)="openModal()" data-target="#adduser">Add New</a>                    </div>
                <div class="card-body">
                    <div class="form-inline">
                        <label for="uname" class="mr-3">Project</label>
                        <p-dropdown class="p-dropdown-custom" [options]="projectList" name="value" placeholder="Select project" dropdownIcon="pi pi-caret-down" [(ngModel)]="selectedProject"
                            (ngModelChange)="ChangeProject($event)">
                            <ng-template let-item pTemplate="selectedItem">
                                <span>{{item.label}}</span>
                            </ng-template>
                            <ng-template let-item pTemplate="item">
                                <div>{{item.label}}</div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div *ngIf="projectValidate" class="error proj-validate">
                        Please select a project
                    </div>
                    <div class="row my-3 px-3">
                        <mat-tab-group animationDuration="0ms" class="mat-tab-scroll"  (selectedTabChange)="tabSelect($event)">
                            <mat-tab *ngFor="let role of roles; let y = index"    label="{{role.roleName}}"></mat-tab>
                           
                          </mat-tab-group>
                    </div>
                    <div class="row mt-3">
                        <!-- <mat-tab-group animationDuration="0ms" class="mat-tab-scroll">
                            <mat-tab *ngFor="let role of roles" label="{{role.roleName}}"></mat-tab>
                           
                          </mat-tab-group> -->
                          <!-- <mat-tab-group animationDuration="0ms">
                            <mat-tab label="First">Content 1</mat-tab>
                            <mat-tab label="Second">Content 2</mat-tab>
                            <mat-tab label="Third">Content 3</mat-tab>
                          </mat-tab-group> -->
                        <!-- <div class="col-12  ">
                            <div class="nav flex-column nav-pills v-tabs" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <span *ngFor="let role of roles let y = index"><a  class="model-navlink nav-link" [ngClass]="{'active': role.id === tabId ? true : false}" (click)="tabSelect(role, y)"  role="tab">{{role.roleName}}</a></span>
                            </div>
                        </div> -->
                        <div class="col-12">
                            <div class="tab-content border-0 p-0" id="v-pills-tabContent">
                                <div *ngFor='let role of roles'>
                                    <div class="tab-pane" *ngIf="role.id == tabId" role="tabpanel">

                                        <div class="form-inline  form-group">
                                            <span class="ml-auto">
                                            <div class="dropdown d-inline export-btn"> <a href="javascript:void(0);" class="btn btn-export mr-3" data-toggle="dropdown"><i class="fas fa-file-export"></i></a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" (click)="exportPdf('pm')">PDF</a>
                                                    <a class="dropdown-item" (click)="exportCSV('pm')">CSV</a>
                                                    <a class="dropdown-item" (click)="exportExcel('pm')">Excel</a>
                                                </div>
                                            </div>
                                            <input pInputText type="text" (input)="pm.filterGlobal($event.target.value, 'contains')" class="form-control" placeholder="Search">
                                            </span>
                                        </div>
                                       
                                            <!-- dynamic prime table -->
                                            <p-table #pm class="p-table-grid" [value]="tableRoleUserList[tabId]?.data" [paginator]="true" [(selection)]="selectedTableUserWRole"
                                                [rowsPerPageOptions]="[5,10,25,50,100,500]" (onHeaderCheckboxToggle)="frontHeaderCheckboxToggle($event)"
                                                (onRowUnselect)="onFrontRowUnselect($event)" (onRowSelect)="onFrontRowSelect($event)"
                                                [rows]="10" rowHover="true" sortMode="multiple" [responsive]="true" exportFilename="ProjectUserRoleMappingDetails"
                                                [globalFilterFields]="['name', 'mailId', 'createdBy', 'insertedDateTime']">


                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th class="w-3em">
                                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                                        </th>

                                                        <th [ngClass]="{'text-center': col.field === 'insertedDateTime'? true: false}" *ngFor="let col of cols" [pSortableColumn]="col.field">
                                                            {{col.header}}
                                                            <p-sortIcon [field]="col.field"></p-sortIcon>
                                                        </th>

                                                        <th class="w-6em" class="text-center">Action</th>

                                                    </tr>
                                                </ng-template>

                                                <ng-template pTemplate="body" let-user>
                                                    <tr>
                                                        <td>
                                                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                                                        </td>
                                                        <td>{{user?.name}}</td>
                                                        <td>{{user?.mailId}}</td>
                                                        <td>{{user?.createdBy}}</td>
                                                        <td class="text-center">{{user?.insertedDateTime | date: 'dd/MM/y'}}</td>
                                                        <td class="text-center">
                                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#deleteModal" class="text-danger" title="Delete" (click)="deleteProjectUserRole(user)"><i class="fas fa-trash-alt"></i></a>
                                                            <!--<a href="javascript:void(0);" class="text-danger" title="Delete" (click)="delUserFromProject(user)">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </a>-->
                                                        </td>
                                                    </tr>
                                                </ng-template>

                                                <ng-template pTemplate="emptymessage">
                                                    <tr>
                                                        <td class="text-center" colspan="6">
                                                            <b>No records found</b>
                                                        </td>
                                                    </tr>
                                                </ng-template>

                                            </p-table>
                                            <!-- dynamic prime table -->
                                      
                                        <button class="btn btn-danger mt-3" [disabled]="!selectedTableUserWRole.length" data-toggle="modal" data-target="#deleteMultipleModal"
                                            type="button"> Delete </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="adduser" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add Project User Role Mapping</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"> <span aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body">
                <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
                <div class="form-inline">
                    <label for="uname" class="mr-3">Project</label>
                    <p-dropdown class="p-dropdown-custom" [options]="projectList" name="value" placeholder="Select Project" dropdownIcon="pi pi-caret-down" [(ngModel)]="selectedModelProject"
                        (ngModelChange)="ChangeModelProject($event)">
                        <ng-template let-item pTemplate="selectedItem">
                            <span>{{item.label}}</span>
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            <div>{{item.label}}</div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div *ngIf="modelProjectValidate" class="error proj-validate" >
                    Please select a project
                </div>
                <div class="row my-3 px-3" *ngIf="modalOpen">
                    <mat-tab-group animationDuration="0ms" class="mat-tab-scroll"  (selectedTabChange)="setactiveTabInModal($event)">
                        <mat-tab *ngFor="let role of roles; let y = index"    label="{{role.roleName}}"></mat-tab>
                       
                      </mat-tab-group>
                </div>
                <!-- <div></div> -->
                <div class="row mt-3">
                    <!-- <div class="col-12 ">
                        <div class="nav flex-column nav-pills v-tabs" role="tablist" aria-orientation="vertical">
                            <span *ngFor="let role of roles; let y = index"><a class="nav-link" [ngClass]="{'active': role.id === this.mtabId ? true : false}" (click)="setactiveTabInModal(role, y)" >{{role.roleName}}</a></span>

                        </div>
                    </div> -->
                    <div class="col-12">
                        <div class="tab-content border-0 p-0">
                            <div *ngFor='let role of roles; let y = index'>
                                <div class="tab-pane" *ngIf="role.id == mtabId" role="tabpanel" aria-labelledby="v-pills-home-tab1">

                                    <div class="form-inline  form-group">
                                        <span class="ml-auto">
                                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value,  'contains')" class="form-control" placeholder="Search">
                                        </span>
                                    </div>
                                    <div class="">
                                        <div class="">
                                            <!-- dynamic prime table -->
                                            <p-table #dt class="p-table-grid" [value]="cloneOfUsers" [paginator]="true" [(selection)]="selectedTableUser" [rowsPerPageOptions]="[5,10,25,50,100,500]"
                                                [rows]="10" rowHover="true" sortMode="multiple" [responsive]="true" exportFilename="ProjectUserRoleMap_Details"
                                                (onHeaderCheckboxToggle)="headerCheckboxToggle($event)" (onRowSelect)="onRowSelect($event)"
                                                (onRowUnselect)="onRowUnselect($event)" [globalFilterFields]="['name', 'mailId']">

                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th  class="bg-white w-3em">
                                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                                        </th>
                                                        <th  class="bg-white w-20em">Name</th>
                                                        <th class="bg-white">Email ID</th>


                                                    </tr>
                                                </ng-template>

                                                <ng-template pTemplate="body" let-user>
                                                    <tr [ngClass]="{'disabled': user.disabled ? true : false}">
                                                        <td>
                                                            <p-tableCheckbox [value]="user" [disabled]="user.disabled ? true : false"></p-tableCheckbox>
                                                        </td>
                                                        <td>{{user.name}}</td>
                                                        <td class="text_wrap">{{user.mailId}}</td>

                                                    </tr>
                                                </ng-template>

                                                <ng-template pTemplate="emptymessage" let-columns>
                                                    <tr>
                                                        <td class="text-center" colspan="3">
                                                            <b>No records found</b>
                                                        </td>
                                                    </tr>
                                                </ng-template>

                                            </p-table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="card border shadow-none card-div" *ngIf='selectedUserwithRole.length > 0 ? true : false'>
                            <div class="card-body p-2 card-columns">
                                <div class="user-group-section" *ngFor="let userdata of selectedUserwithRole">
                
                                <div class="card shadow-none">
                                <div class="user-title">{{userdata.roleName}}</div>
                                <ul>
                                <li  *ngFor="let user of userdata.userList"><span>{{user.userName}}</span> <a href="javascript:void(0)" class="text-danger"><i class="fas fa-trash-alt" aria-hidden="true"  (click)="delUserFromGroup(userdata, user)"></i></a></li>
                                </ul>
                                </div>
                                
                                </div>
                              </div>
                            <!-- <div class="card-body p-2 card-columns">

                                <div class="user-group-section" *ngFor="let userdata of selectedUserwithRole">
                                    <div class="card shadow-none" *ngIf='userdata.userList.length === 0 ? false : true'>
                                        <div class="user-title">{{userdata.roleName}}</div>
                                        <div *ngFor="let user of userdata.userList">
                                            <a href="javascript:void(0)" class="text-danger float-right" (click)="delUserFromGroup(userdata, user)"><i class="fas fa-trash-alt" aria-hidden="true"></i></a>
                                            <p>{{user.userName}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div> -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger close-modal" data-dismiss="modal" (click)="Close()">Close</button>
                <button type="button" class="btn btn-navy" (click)="submitUser()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- delete single records -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <p class="text-center mt-3 alert-confirm">Are you sure want to delete <b>{{ deleteProjectUserName }}</b>?</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger modal-close" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-navy" (click)="delUserFromProject()">Yes</button>
            </div>
        </div>
    </div>
</div>


<!-- delete multiple records -->
<div class="modal" id="deleteMultipleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <p class="text-center mt-3 alert-confirm">Are you sure want to delete all checked records?</p>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-danger modal-close" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-navy" (click)="delMultiUserFromProject()">Yes</button>
            </div>
        </div>
    </div>
</div>