/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    /* height: 300px;  */
    /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

 .try .ui-dialog-titlebar-icons{
    display: none !important;
  }

.ui-dialog-titlebar{
  background-color: #09abdd !important;
  color: #fff !important;
}